<template x-if="dynamicFields?.[field.name] === undefined || dynamicFields?.[field.name]?.length === 0">
    <div class="mb-4 flex justify-between items-center">
        <div class="flex space-x-2">
            {% include '@vactory_admin/components/button/button.twig' with {
                text: 'Add block'|t,
                size: 'md',
                type: 'button',
                variant: 'primary',
                click_handler: 'showParagraphTemplateForm(field.name)',
                icon_left: '<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewbox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true" data-slot="icon" class="h-3.5 w-3.5"><path stroke-linecap="round" stroke-linejoin="round" d="M12 4.5v15m7.5-7.5h-15"></path></svg>'
            } %}
        </div>
    </div>
</template>

<template x-if="Object.keys(dynamicFields?.[field.name] || {}).length > 0">
    {% include "@vactory_dashboard/_components/paragraph/blocks.html.twig" with {
        field_type: 'wysiwyg_field',
    } %}
</template>